* {

  font-family: serif;
  margin: 0;
  padding: 0;

}

body {

  background-color: #bbe4e9;
  color: whitesmoke;

}

header {

  width: 100%;
  height: 150px;
  background-image: linear-gradient(to right, #5585b5, black);
  /* border-bottom: solid 30px green;     */
}

header li:hover {
  color: orange;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #FFF;
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

h1 {
  font-size: 2.5em; 
  color: rgb(32, 30, 30);
  width: min-content;
}

#logo {
  display: flex;
  flex-direction: row;
  height: 150px;
}

#logo img {
  margin-left: 2em;
}

.navbar {

  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {

  display: flex;
  list-style: none;

}

nav li {

  position: relative;
  display: inline;
  width: max-content;   
  
  padding-right: 1em;

}

nav li a {

  color: white;
  text-decoration: none;
  transition: all 1s ease;
}

nav li a:hover {
  color: #5585b5;
}

header span:hover {

  color: red;

}

.profilePic {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  vertical-align: middle;
  width: 290px;
  height:auto;

}

.amCard {

  display: block;
  margin-top: 0em;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
 
  background-color: #79c2d0;
  border-radius: 0px 0px 50px 0px;
  text-align: center;
  

}

.amCard img {
  border-radius: 15px;
}

#about {
  font-size: large;
}

#experience p {
  padding-top: 1em;
}

#experience {
  font-size: large;
}

.even {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.exp {
  display: inline-block;
  background-color: #53a8b6;
  padding: 2em;
  border-radius: 1em;
  margin: 1em;
  justify-content: center;

}

.exp li {
  margin-top: .5em;
}

.date {
  color: darkgoldenrod;
}

.listed {

  display: inline-block;
  text-align: left;
  list-style: none;
}

h2 {

  text-align: center;
  font-size: 2em;
}

#experience {
  
  font-size: 1.2em;

}


.card {

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  width: 45%;
  position: relative;
  border: solid white .5em;
  border-radius: 10px 50px 10px 50px;
  padding: 10px;
  text-align: center;
  background-color: #53a8b6;

}  

.card img {
  margin: 1em;
  border-radius: 10px;
  width: 90%;
}

.image_special {
 
  width: 80%;
  height: auto;
  opacity: .5;
  transition: all 1.5s ease;

}

.image_special:hover {

  opacity: 1;
  /* width: 55%;
  height: auto; */
}

.image {
 
  width: 35%;
  height: 365px;
  opacity: .5;
  transition: all 2s ease;
  
}

.image:hover {

  opacity: 1;
  /* width: 55%;
  height: auto; */
}


footer {
  font-size: 3em;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  background-color: #5585b5;

  text-align: center;
  vertical-align: text-top;
  color: black;
  line-height: 1.2em;

  justify-content: center;
  align-items: center;

}

footer:hover {
  color: black;
}

footer a {
  margin: 1em;
  text-decoration: none; 
  color: black;
}

footer a:hover {
  animation: wave 1.5s;
  transform-origin: 75%;
  display: inline-block;
}

#linkedIn {
  width: 40px;
  height: 40px;
}

.center {
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;

  text-align: center;
  vertical-align: text-top;
  color: black;
  line-height: 1.2em;

  justify-content: center;
  align-items: center;

}

.center:hover {
  color: black;
}

.center a {
  margin: 1em;
  text-decoration: none; 
  color: black;
}

.center a:hover {
  animation: wave 1.5s;
  transform-origin: 75%;
  display: inline-block;
}

@keyframes wave {
  0% { transform: rotate(0.0deg) }
  10% { transform: rotate(16.0deg) }
  20% { transform: rotate(-6.0deg) }
  30% { transform: rotate(16.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(16.0deg) }
  60% { transform: rotate(0.0deg) }
  100% { transform: rotate(0.0deg) }
}

.formCard {

  padding: 2em;
  display: flex;
  color:black;

  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #5585b5;
}

.form {
  margin: 30px;
  max-width: 800px;
}

.form input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
  }

@media (max-width: 700px) {
    #logo h1 {
      font-size: 8vw;
  }
  .profilePic > img {
      width: 320px;
  }
  .exp {

      width: 30em;
  }
  #experience {
      margin-top: 1em;
  }
  .exp {
      width: 80%;
  }
  .image {
      width: 455px;
      height: auto;
  }

  footer p {
    width:60px;
    font-size: 6vw;
  }

  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}


/* @media screen and (max-width: 1000px) {

  header {
      font-size: smaller;
  }
  .profilePic > img {
      width: 320px;
  }
  .exp {

      width: 30em;
  }
  #experience {
      margin-top: 1em;
  }
  .exp {
      width: 80%;
  }
  .image {
      width: 455px;
      height: auto;
  }
} */